.our_team{
    margin: 4rem 0;
}

.flex_our_team{
    display: flex;
    justify-content: space-between;
}

.my_card{
    width: 30%;
    border: none;
}

.card_title{
    margin: .2rem auto;
    color: #39AEA9;
}

.img_card{
    width: 100%;
    height: 15rem;

}
.center{
    text-align: center;
}
.black{
    color: black;
}

.card_desc{
    margin: 1rem 0;
}


@media only screen and (max-width: 900px) {
    .flex_our_team{
        flex-direction: column;
    }
    .my_card{
        width: 80%;
    }
    .img_card{
        width: 100%;
    }
  
    


}