.my-nav-bar{
  background-color: #39AEA9;
  width: 100%;
  position: fixed;
}

.select_lang{
  background-color: #39AEA9;
  color: white;
  border: none;
}
.select_lang:focus{
  border: none;
}

.select_lang_item{
  background-color: white;
  color: #39AEA9;
}

.App{
  font-family: 'Edu SA Beginner', cursive;
}

.title{
  font-family: 'Arima', cursive;
}
